{{#isContainer}}None{{/isContainer}}{{^isContainer}}{{#isMap}}None{{/isMap}}{{^isMap}}{{#isString}}None{{/isString}}{{^isString}}{{#defaultValue}}{{defaultValue}}{{/defaultValue}}{{^defaultValue}}None{{/defaultValue}}{{/isString}}{{/isMap}}{{/isContainer}}
