from datetime import datetime
from typing import Optional, List, Dict, Union
from typing_extensions import Literal
from uuid import UUID
from pydantic import BaseModel, Field


Any = str

{{#models}}
{{#model}}
{{#allowableValues}}
from enum import Enum


class {{classname}}(str, Enum):
{{#enumVars}}
    {{name}} = {{{value}}}{{^-last}}
{{/-last}}
{{/enumVars}}

{{/allowableValues}}
{{^allowableValues}}
class {{classname}}(BaseModel):
{{#vars}}
    {{name}}: "{{^required}}Optional[{{/required}}{{>_dataTypeModel}}{{^required}}]{{/required}}" = Field({{#required}}...{{/required}}{{^required}}{{>_defaultValueModel}}{{/required}}, alias="{{baseName}}")
{{/vars}}
{{/allowableValues}}
{{/model}}
{{/models}}
